<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdatecIMP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdatecIMP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <AdatecIMP.My.MySettings>
            <setting name="AdatecIMP_wsGenericTransfer_wsGenerarPlano" serializeAs="String">
                <value>http://192.168.0.241/GTIntegration/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
            <setting name="AdatecIMP_wsUnoEE_WSUNOEE" serializeAs="String">
                <value>http://wsdistricosta.siesacloud.com:8043/wsunoee/WSUNOEE.asmx</value>
            </setting>
          
             <!--<setting name="AdatecIMP_wsGenericTransfer_wsGenerarPlano" serializeAs="String">
              <value>http://siesa.generictransfer.com:1434/GTIntegration/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
            <setting name="AdatecIMP_wsUnoEE_WSUNOEE" serializeAs="String">
                <value>http://wsdistricosta.siesacloud.com:8043/wsunoee/WSUNOEE.asmx</value>
            </setting>-->
        
        </AdatecIMP.My.MySettings>
    </applicationSettings>
    <userSettings>
        <AdatecIMP.My.MySettings>
            <setting name="ConexionIntermedias" serializeAs="String">
              <value>Data Source=192.168.0.241;Initial Catalog=GTintegration;User ID=sa;Password=Decepticon2014;Integrated Security=false</value>
           <!-- <value>Data Source=siesa.generictransfer.com,1434;Initial Catalog=GTintegrationLACOSTA;User ID=admincali;Password=4217;Integrated Security=false</value>-->
           </setting>   
          <!--<setting name="ConexionIntermedias" serializeAs="String">
            <value>Data Source=192.168.0.241;Initial Catalog=GTintegration;User ID=sa;Password=Decepticon2014;Integrated Security=false</value>
          </setting>-->
          
          
        </AdatecIMP.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>